<div class="py-20 bg-gray-50" id="features">
	<div class="max-w-5xl px-6 pt-16 pb-32 mx-auto mt-10 space-y-10 sm:px-6 sm:pt-24">
		<div class="text-center">
			<div class="text-2xl md:text-3xl font-bold">The hardest part of the application development,<span class="text-blue-500"> made simple. </span></div>
			<div class="text-xl text-gray-600 mt-3">Authentication | Authorization | Security | Integrations. We've got it covered for you. You can use Authorizer off the shelf and provide an amazing digital experience in just 3 minutes. We rather have you focused on your core business and build stuff that matters.
			</div>
		</div>
		<div class="flex text-lg">
			<div class="flex-1 mr-2">
					<div class="text-xl text-blue-500"><i class="fas fa-layer-group mr-2"></i>Modern stack </div>
				Built using modern stack with best practises.It uses <a class="text-blue-500" href="https://golang.org/">Go</a>, <a class="text-blue-500" href="https://graphql.org/">GraphQL</a>, <a class="text-blue-500" href="https://hub.docker.com/">Docker</a>, <a class="text-blue-500" href="https://reactjs.org/">React</a>
				
			</div>
			<div class="flex-1">
				<div class="text-xl text-blue-500"><i class="fas fa-database mr-2"></i>SQL Database</div>
				<b>Bring your own database </b> and own the data of your users. Currently supporting Postgres, MySQL, SQLite database. More coming soon...
				
			</div>
		</div>

		<div class="flex text-lg">
			<div class="flex-1 mr-2">
				<div class="text-xl text-blue-500"><i class="fas fa-shield-alt mr-2"></i>Secured Auth & Session management</div>
				<b>Auth with best services </b> baked in. Session management implemented with <a class="text-blue-500" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies" target="_blank">HTTP only cookies.</a> JWT bearer tokens implemented with access token and refresh token.
			</div>
			<div class="flex-1">
				<div class="text-xl text-blue-500"><i class="fas fa-user-lock mr-2"></i>Auth Recipes</div>
				<b>Mutliple auth recipes supported </b> out of the box. Supports major social login, basic auth, magic link auth and more coming soon...
			</div>
		</div>

		<div class="flex text-lg">
			<div class="flex-1 mr-2">
				<div class="text-xl text-blue-500"><i class="fas fa-code mr-2"></i>Integrate or Implement </div>
					Got a framework? We've it all covered. Be it <a class="text-blue-500" href="https://github.com/authorizerdev/authorizer-js">javascript</a>, <a class="text-blue-500" href="https://github.com/authorizerdev/authorizer-react">react</a> or any framework! more sdks coming soon...
			</div>
			<div class="flex-1">
				<div class="text-xl text-blue-500"><i class="fas fa-cloud mr-2"></i>Deploy anywhere</div>
				<b>With multiple </b> deployment options deploy your authentication and authorization service any where. Currently supporting <a class="text-blue-500" href="https://github.com/authorizerdev/authorizer-heroku" target="_blank">Heroku, </a> <a class="text-blue-500" href="https://hub.docker.com/repository/docker/lakhansamani/authorizer" target="_blank">Docker</a> and <a class="text-blue-500" href="https://hub.docker.com/repository/docker/lakhansamani/authorizer" target="_blank">Kubernetes. </a>More coming soon...
			</div>
		</div>
		<div class="mt-10 flex items-center justify-center">
			<a target="_blank" class="bg-blue-500 py-3 px-6 text-center text-xl text-white rounded-md" href="https://github.com/authorizerdev/authorizer">
				<i class="fab fa-github mr-2"></i>Start Contributing
			</a>
		</div>
	</div>
</div>