<div class="flex justify-center items-center py-5 bg-gray-50">
	&copy;Copyright {new Date().getFullYear()} authorizer.dev | Built with <i class="fas fa-heart text-red-500 mx-1"></i> using <a href="https://astro.build/" class="text-blue-500 ml-1">Astro</a>
</div>