<div class="flex justify-center items-center flex-col p-5 bg-gray-50 flex-wrap">
	<div>
		&copy;Copyright {new Date().getFullYear()} authorizer.dev | Built with <i class="fas fa-heart text-red-500 mx-1"></i> using <a href="https://astro.build/" class="text-blue-500 ml-1">Astro</a>
	</div>
	<div class="mt-5">
		<a href="https://www.producthunt.com/posts/authorizer?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-authorizer" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=321526&theme=light" alt="Authorizer - Open source authentication and authorization solution | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
	</div>
</div>