<div class="my-20 max-w-5xl px-6 pt-16 pb-32 mx-auto mt-10 space-y-10 sm:px-6 sm:pt-24">
	<div>
		<div class="text-center">
			<div class="text-4xl md:text-6xl font-bold text-blue-500">Peace of mind for user authentication and access</div>
			<div class="text-2xl md:text-3xl text-gray-600 mt-3">Open Source <b>Authentication</b> and <b>Authorization</b> solution for your business. Easy to integrate and quick to implement with available SDKs!
			</div>
		</div>
		<div class="mt-10 flex items-center justify-center">
			<a target="_blank" class="bg-blue-500 py-3 px-6 text-center text-2xl text-white rounded-md" href="https://github.com/authorizerdev/authorizer">
				Get Started <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>