---
// src/layouts/BaseLayout.astro
import Footer from '../components/footer.astro';

const {title} = Astro.props;
const pathName = (new URL(Astro.request.url)).pathname;
console.log({pathName: new URL(Astro.request.url)})
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Authorizer {title ? `| ${title}` : ''}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/styles/global.css">
		<script src="https://kit.fontawesome.com/9f098fb7e7.js" crossorigin="anonymous"></script>
	</head>
	<body>
	<div class="relative min-h-screen">
		<!-- Adds a navigation bar to every page. -->
		<div class="fixed top-0 py-3 bg-white w-full">
			<div class="max-w-6xl px-6 mx-auto sm:px-8">
				<nav class="relative flex items-center justify-between lg:justify-center">
					<div class="flex-1 logo font-extrabold">
						<a href="/" class="flex items-center ">
							<div class="h-10 w-10 rounded-full text-white bg-blue-500 text-md md:text-2xl text-center">A</div>
							<div class="text-lg md:text-3xl ml-2 text-gray-800">Authorizer</div>
						</a>
					</div>
					<div>
						<a class={`pb-2 mr-5 hover:text-blue-500 ${pathName === `/features` ? 'text-blue-500 border-blue-500 border-b' : 'text-gray-800'}`} href="#features">Features</a>
						<a class={`pb-2 mr-5 hover:text-blue-500 ${pathName === `/about` ? 'text-blue-500 border-blue-500 border-b' : 'text-gray-800'}`} href="#about">About</a>
						<a class={`pb-2 mr-5 text-gray-800 hover:text-blue-500 ${pathName === `/docs` ? 'text-blue-500 border-blue-500 border-b' : ''}`} href="https://docs.authorizer.com" target="_blank">Docs</a>
						<a class="text-xl text-gray-800 hover:text-blue-500" href="https://github.com/authorizerdev/authorizer"><i class="fab fa-github"></i></a>
					</div>
				</nav>
			</div>
		</div>
		<!-- slot: your page content will be injected here. -->
		<slot />
		<Footer />
		</div>
	</body>
</html>